---
import Layout from "../../layouts/index.astro";
import "../../styles/utils.scss";
---

<Layout>
  <div class="h-full w-full pt-12 flex items-center justify-center">
    <div class="h-full w-full flex about">
      <div class="h-full sm:w-3/5 w-full">
        <div class="h-1/6 flex items-center px-5">
          <h3 class="font-semibold text-6xl text-accent">About Me</h3>
        </div>
        <div
          class="h-3/6 desc flex flex-col gap-8 justify-center text-2xl px-5"
        >
          <p>I am passionate Developer with love for everything tech.</p>
          <p>
            I have learned Java and explored most of web development like
            NextJS, MongoDB and ThreeJS.
          </p>
          <p>
            My love for programming emerged from creating Minecraft DataPacks
            which now have over 600k downloads.
          </p>
        </div>
        <div class="h-1/6 flex items-start text-2xl px-5 py-5">
          <div
            class="h-12 quote border-l-4 px-5 flex items-center border-lightSecondary dark:border-darkSecondary text-darkSecondary dark:text-lightSecondary"
          >
            I love good minimal designs, OSS and learning new things
          </div>
        </div>
      </div>
      <div class="three bg-green-600 h-full w-2/5"></div>
    </div>
  </div>
  <div class="w-full h-full flex flex-col justify-center">
    <div class="head h-1/6 w-full flex items-center px-5">
      <h3 class="font-light text-6xl text-white">
        Professional
        <span class="font-semibold text-6xl text-accent">Skillset</span>
      </h3>
    </div>
    <div class="contain w-full h-2/6 flex items-center px-5 gap-2">
      <div
        class="w-32 h-32 bg-transparent border-lightSecondary dark:border-darkSecondary border-4 rounded-md"
      >
      </div>
    </div>
    <div class="head h-1/6 w-full flex items-center px-5 bg-red-300">
      <h3 class="font-semibold text-6xl text-accent">Tools</h3>
    </div>
    <div
      class="contain w-full h-2/6 bg-indigo-400 flex items-center px-5 gap-2"
    >
    </div>
  </div>
</Layout>
