---
import Layout from "../../layouts/index.astro";
import "../../styles/utils.scss";
import SkillGrid from "../../components/SkillGrid.jsx";
import About from "../../components/About.jsx";
---

<Layout>
  <div class="h-full w-full pt-12 flex items-center justify-center">
    <div class="h-full w-full flex px-2 py-4">
      <div class="w-full h-full flex items-center justify-center">
        <About />
      </div>
    </div>
  </div>
  <div
    class="w-full h-fit flex flex-col px-2 py-8 flex flex-col items-center cursor-default"
  >
    <h1
      class="text-5xl font-semibold underline decoration-accent decoration-6 hover:decoration-primary duration-400 ease-in-out transition"
    >
      Skills
    </h1>
    <p class="py-5 font-medium text-lg">Tech I have worked with ..</p>
    <SkillGrid />
  </div>
</Layout>
