---
import Layout from "../../layouts/index.astro";
import "../../styles/utils.scss";
import Form from "../../components/Form.jsx";
---

<Layout>
  <div class="h-screen pt-12 w-full flex items-center justify-center">
    <div class="h-full w-full contact px-8">
      <div
        class="h-1/4 w-full font-bold sm:text-8xl text-6xl flex items-center text-darkUtility dark:text-darkText"
      >
        Get in Touch
      </div>
      <div class="h-2/4 w-full">
        <Form client:load />
      </div>
    </div>
  </div>
</Layout>
