.square-container:hover {
  transition: all 0.15s ease-in-out;
  background-color: #c5d8d8;
  border: #173f4f solid 4px;
  opacity: 0.75;
}

.square-container {
  transition: all 0.15s ease-in-out;
}

html.dark .square-container:hover {
  transition: all 0.15s ease-in-out;
  background-color: #082531;
  border: #39829f solid 4px;
  opacity: 0.75;
}
html.dark .square-container {
  transition: all 0.15s ease-in-out;
}

svg.other {
  fill: #082531;
}

.square-container:hover svg.other {
  fill: #00151d;
}

html.dark svg.other {
  fill: #c5d8d8;
}
html.dark .square-container:hover svg.other {
  fill: #7ed4f6;
}