---
import Navbar from "../components/Navbar.jsx";
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="bg-lightBackground text-lightText dark:bg-darkBackground dark:text-darkText w-full h-screen"
  >
    <Navbar client:load />
    <slot />
  </body>
</html>

<script>
  const theme = (() => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("appTheme")
    ) {
      return localStorage.getItem("appTheme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("appTheme", theme);
</script>
